
#showcase_title{
	text-align: center;
	margin-bottom: 0;
	padding: 0;
}
hr{
	text-align: center;
	border:2px solid red;
	width:700px;
}
img{
	width:50%;
	height: auto;

}

#homepic{
	border:2px solid #333;
	animation-delay: 3s;
}

#vid_list{
	animation-delay: 2s;
}